body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.slider {
	position: relative;
	width: 100%;
	max-width: 600px;
	overflow: hidden;
	text-align: center;
	margin: 100px auto;
}

.slider img {
	width: 600px;
	height: 400px;
    object-fit: fill;
}

button {
	margin: 10px;
	padding: 10px;
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
}
